{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Login-TweetLinks</title>
    <meta name="description" content="Login Page Example" />
    <meta name="author" content="Ali Abbasi" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'blog/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="main-container">
      <div class="left-container">
      <h3>TweetLinks</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h1>Login To Continue</h1>
        <div class="button_cont" align="center"><a class="example_a" href="/auth ">Login @Twitter</a></div>
      </div>
      <div class="right-container"></div>
    </div>
  </body>
</html>
